body {
  padding: 0;
  margin: 0;
  background-color: #23272a;
  font-family: "Montserrat";
  font-weight: 400;
  color: #FFFFFF;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
.container-fluid{
  padding: 3% 10%;
  background-color:	#2c2f33;
}
.table{
  background-color: #2c2f33;
}
